*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  width: 80%;
  margin: auto;
  color: #ffffff;
  background-image: url('../image/fondo.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: 'Montserrat', serif;
}
h1{
  text-align: center;
  margin: 100px 0;
  font-family: 'Anton', serif;
}
h2{
  margin: 10px 0;
  padding: 10px;
  border-radius: 15px 5px;
  border: 1px solid white;
  background-color: #c6c6c6;
  color: #000;
  font-family: 'Lobster', serif;
  -o-transform: scale(1,1);
  -ms-transform: scale(1,1);
  -moz-transform: scale(1,1);
  -webkit-transform: scale(1,1);
  transform: scale(1,1);
  -o-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
h2:hover{
  background-color: #000;
  color: #E9F728;
  position: relative;
  z-index: 999;
  -o-transform: scale(1.03,1.03);
  -ms-transform: scale(1.03,1.03);
  -moz-transform: scale(1.03,1.03);
  -webkit-transform: scale(1.03,1.03);
  transform: scale(1.03,1.03);
}
h3{
  margin: 5px;
  color: #E9F728;
  font-size: 1em;
}
p{
  text-align: justify;
  font-size: 10pt;
}
img:hover{
  opacity: 0.5;
  filter: alpha(opacity=50); /* For IE8 and earlier */
}
video{
  border: 1px dashed white;
}
footer{
  width: 100%;
  border-radius: 20px 10px;
  margin: auto;
  padding: 15px;
  background-color: #000;
  color: #ffffff;
}

#principal{
  width: 98%;
  margin: 0 1%;
}

.peliculas{
  margin: 5px;
}

#principal .peliculas .reparto ul{
  margin-left: 40px;
}

#principal .peliculas .reparto .famoso li{
  list-style-image: url('https://goo.gl/6hPSSH');
  font-size: 10pt;
}

#principal .peliculas .reparto .famoso .principal{
  font-weight: bold;
}

#principal .peliculas .reparto .famoso .secundario{
  font-style: italic;
}

.contenidoPelicula{
  width: 100%;
  margin-bottom: 15px;
  padding-bottom: 15px;
}

.row::after, .clearfix::after{
    content: "";
    display: block;
    clear: both;
}

.col-1{width: 8.33%;}
.col-2{width: 16.66%;}
.col-3{width: 25%;}
.col-4{width: 33.33%; }
.col-5{width: 41.66%;}
.col-6{width: 50%;}
.col-7{width: 58.33%;}
.col-8{width: 66.66%;}
.col-9{width: 75%;}
.col-10{width: 83.33%;}
.col-11{width: 91.66%;}
.col-12{width: 100%;}

[class*="col-"]{
  float:left;
  padding: 5px;
}

@media only screen and (min-width:1101px) {
  .clearfix{
    display: none;
  }
}

@media only screen and (max-width:1100px) {
  [class*="col-"] {
    width: 50%;
  }
  .clearfix{
    display: block;
  }
}

@media only screen and (max-width:600px) {
  [class*="col-"] {
    width: 100%;
  }
}
